.athletes {
  position: relative;
  margin: 0;
  @media screen and (min-width: $tablet) {
    width: 100%;
    height: 793px;
  }

  &__features {
    width: 100%;
    padding: 80px 0 0 19px;
    flex-shrink: 0;
    height: 284px;
    scroll-behavior: smooth;
    background: #979797;
    position: relative;
    @media screen and (min-width: $tablet) {
      padding: 40px 20px 40px 306px;
      z-index: -2;
      &--transparent{
        background-color: transparent;
      }
      &--gray{
        background-color: #F5F4F9;
      }
      &--violet{
        background-color: #5E3DB3;
      }

    }
  }

  &__image {
    position: absolute;
    width: 100%;
    max-width: 200px;
    left: calc(50vw - 100px);
    z-index: 2;
    @media screen and (min-width: $tablet) {
      left: -162px;
      min-width: 498px;
      top: 96px;
    }

  }

  &__number {
    @include font-style(14px, 16px, 1.5px, bold);
    position: relative;
    z-index: 99;

    &::after {
      content: "";
      position: absolute;
      left: 1px;
      bottom: -1px;
      z-index: 2;
      -webkit-border-radius: 2.5px;
      -moz-border-radius: 2.5px;
      border-radius: 2.5px;
      width: 17px;
      height: 4px;
      background: #603EBE;
    }

    @media screen and (min-width: $tablet) {
      float: left;
      @include font-style(18px, 20px, 1.5px, bold);
      margin: 5px 5px 0 0;
      z-index:2;
      &::after {
        width: 22px;
        height: 5px;
        bottom: -2px;
      }
    }
  }

  &__paragraph {
    @include font-style(15px, 17px, .74px);
    color: #000000;
    margin-top: -5px;
    @media screen and (min-width: $tablet) {
      @include font-style(18px, 28px, .873px);
    }
  }

  &__subtitle {
    @include font-style(28px, 31px, 1.5px, bold);
    color: #C2C2C2;
    text-transform: uppercase;
    margin: 9px 0 0 27px;
    @media screen and (min-width: $tablet) {
      position: relative;
      margin: 0;
      padding: 0 0 10px 10px;
      z-index: 999;
    }

  }

  &__title {
    @include font-style(50px, 50px, 1px, bold);
    margin-top: 0;
    color: #E7E7E7;
    text-transform: uppercase;
    margin-left: calc(50vw - 150px);
    @media screen and (min-width: $tablet) {
      @include font-style(80px, 101px, 0.9px, bold);
      margin: 0;
      padding: 0 0 0 306px;
      position: absolute;
      left: 0;
      top: -10px;
      z-index: -10;
    }
  }
}

.wrapper--athletes {
  width: 100%;
  height: 284px;
  display: flex;
  overflow-x: auto;
  margin: 178px auto 85px;
  @media screen and (min-width: $tablet) {
    overflow: unset;
    flex-direction: column;
    margin: 0;
    padding: 0;



  }
}